llama-cpp-python @ https://github.com/kuwaai/llama-cpp-python/releases/download/v0.3.8/llama_cpp_python-0.3.8-cp310-cp310-linux_aarch64.whl 

--index-url=https://download.pytorch.org/whl/cpu
--extra-index-url=https://pypi.org/simple
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
