./ # kuwa-executor

# Gemini-Pro
google-generativeai >= 0.6.0

# GPT
openai
tiktoken

# llama.cpp
huggingface_hub
llama-cpp-python >= 0.2.77, == 0.2.87

# Huggingface
torch == 2.3.0
torchvision == 0.18.0
#transformers
# Install the development version of transformers to enable Gemma-3 supporting.
# A stable release of transformers should be used as soon as released.
git+https://github.com/huggingface/transformers@fc8764c9a618add64c33e83720f974750bcd0978
accelerate
sentencepiece
pillow
requests

# ollama
jinja2
ollama