#!/bin/bash

# Define the configuration array
confs=(
  "base"
  "pgsql"
  # "dev" # Increase the verbosity for debug

  # Local models
  "ollama"
  "gemma3-1b"
  "whisper"
  "diffuser"

  # Cloud models
  "gemini"
  "chatgpt"
  "groq"
  "nim"
  "dall-e"
  
  # RAG
  "rag"
  "search"
  
  # Tools
  "copycat"
  "uploader"
  "agent"
  "pipe"
  "mcp_client"
  "n8n"
)

# Append "-f" before each element
for i in "${confs[@]}"; do
  new_confs+=("-f" "compose/${i}.yaml" )
done

# Join the elements with white space
joined_confs=$(echo "${new_confs[@]}" | tr ' ' '\n' | paste -sd' ' -)

subcommand="${@:-up --remove-orphans}"
command="docker compose --env-file ./.env ${joined_confs} ${subcommand}"

echo "Command: ${command}"
bash -c "${command}"
